/* reset ant design mobile style */
.am-navbar {
    background-color: #db403f;
}
/* reset ant design mobile style end*/
.pageloading {
    background: #fff;
}
.greeting {
    padding: 20px;
    background-color: #ccc;
    width: 200px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
}
.backicon {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 15px 20px;
}
.header_fixed {
    z-index: 999;
    position: fixed;
    text-align: center;
    background-color: #db403f;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    line-height: 50px;
}
.bottom_fixed {
    z-index: 999;
    position: fixed;
    background-color: #fff;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid #eee;
    line-height: 49px;
}
.pd50 {
    padding: 50px 0;
}
