/* reset Ant Design style */

/* reset Ant Design style end*/
#root,
.wrapper,
body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper {
    background-color: #001529;
}
.topbar {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    font-size: 22px;
    line-height: 100px;
    color: #fff;
    background-color: #001529;
}
.sidebar {
    display: block;
    position: absolute;
    width: 250px;
    left: 0;
    top: 100px;
    bottom: 0;
    background-color: #001529;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.content {
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 250px;
    right: 0;
    top: 100px;
    bottom: 0;
    width: auto;
    padding: 40px;
    box-sizing: border-box;
    overflow: auto;
}
.topbar-container {
    box-shadow: 0 2px 0px -1px rgba(0, 0, 0, 0.05);
}
.topbar-logo {
    margin-left: 50px;
    width: 100px;
    height: 100px;
}
.topbar-userinfo {
    float: right;
    padding-right: 50px;
    font-size: 16px;
    color: #fff;
}
.login-form.loginForm {
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 50px 20px 50px;
    border-radius: 10px;
}
.login-form.loginForm .login-form {
    max-width: 300px;
}
.login-form.loginForm .login-form-forgot {
    float: right;
}
.login-form.loginForm .login-form-button {
    width: 100%;
}
.ant-menu.ant-menu-dark.ant-menu-inline .ant-menu-item{
    margin-top: 0;
}
